In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

In [6]:
!ls ../data

Future_Schedule_20220301-20220331.xlsx
Realized_Schedule_20210101-20220228.xlsx

In [14]:
data_path = Path("../", "data")
realized_schedule = "Realized_Schedule_20210101-20220228.xlsx"
future_schedule = "Future_Schedule_20220301-20220331.xlsx"
df_raw_realized = pd.read_excel(Path(data_path, realized_schedule))
df_raw_future = pd.read_excel(Path(data_path, future_schedule))

In [15]:
df_raw_realized

,ScheduleTime,Airline,FlightNumber,Destination,AircraftType,FlightType,Sector,SeatCapacity,LoadFactor
0,2021-01-01 06:35:00,IA,874,DEN,73W,J,US,142,0.408451
1,2021-01-01 10:35:00,JZ,818,YHM,AT7,J,CA,74,0.189189
2,2021-01-01 12:05:00,IA,876,DEN,73W,J,US,142,0.570423
3,2021-01-01 13:20:00,CN,514,EST,AT7,J,US,72,0.333333
4,2021-01-01 14:20:00,LJ,3140,DEN,32A,J,US,186,0.204301
...,...,...,...,...,...,...,...,...,...
39444,2022-02-28 18:45:00,VW,986,YYZ,319,J,CA,144,0.847222
39445,2022-02-28 19:25:00,LJ,667,YDQ,319,J,CA,156,0.871795
39446,2022-02-28 20:00:00,VW,3406,MYV,E90,J,US,98,0.857143
39447,2022-02-28 19:30:00,LJ,663,RUT,32N,J,US,186,0.682796
39448,2022-02-28 21:25:00,LJ,771,YEG,319,J,CA,156,0.820513